body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Feedback_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:315px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:321px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:9px;
    width:311px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Feedback_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:40px;
    width:315px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:321px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:311px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:40px;
    width:60px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Axure Handwriting';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:255px;
    top:40px;
    width:60px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Axure Handwriting';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:15px;
    top:80px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:15px;
    top:266px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:15px;
    top:447px;
    width:286px;
    height:33px;
    ;
    ;
    text-align: center;;
    font-family:'Axure Handwriting';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../Feedback_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:25px;
    top:312px;
    width:117px;
    height:98px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:117px;
    height:98px;
}

.u11 {
    position:absolute;
    left:2px;
    top:41px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Feedback_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:168px;
    top:312px;
    width:123px;
    height:90px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:123px;
    height:90px;
}

.u13 {
    position:absolute;
    left:2px;
    top:37px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

textarea.lock {    
    position:absolute;
    left:8px;
    top:105px;
    width:293px;
    height:150px;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
}