body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../List_of_Stops_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:80px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:100px;
    top:10px;
    width:184px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../List_of_Stops_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:120px;
    width:80px;
    height:80px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u4 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../List_of_Stops_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:276px;
    height:3px;
}

.u5 {
    position:absolute;
    left:10px;
    top:100px;
    width:276px;
    height:10px;
    
}

.u6_line {
    background-image: url('../List_of_Stops_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:276px;
    height:3px;
}

.u6 {
    position:absolute;
    left:10px;
    top:210px;
    width:276px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:100px;
    top:120px;
    width:184px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../List_of_Stops_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:230px;
    width:80px;
    height:80px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:100px;
    top:230px;
    width:184px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../List_of_Stops_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:276px;
    height:3px;
}

.u11 {
    position:absolute;
    left:10px;
    top:320px;
    width:276px;
    height:10px;
    
}

.u12_normal {
    background-image: url('../List_of_Stops_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:10px;
    top:340px;
    width:80px;
    height:80px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u13 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:100px;
    top:340px;
    width:184px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../List_of_Stops_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:276px;
    height:3px;
}

.u15 {
    position:absolute;
    left:10px;
    top:430px;
    width:276px;
    height:10px;
    
}

.u16_normal {
    background-image: url('../List_of_Stops_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:10px;
    top:450px;
    width:80px;
    height:80px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u17 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:100px;
    top:450px;
    width:184px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:186px;
    top:65px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:186px;
    top:175px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:186px;
    top:285px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:186px;
    top:395px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:186px;
    top:505px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:10px;
    top:546px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

