* html .u1_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="List_of_Stops_Two_files/u1_line.png");
}

* html .u2_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="List_of_Stops_Two_files/u2_line.png");
}

