body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:10px;
    top:12px;
    width:106px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:10px;
    top:65px;
    width:200px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../List_of_Bus_Services_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:233px;
    top:50px;
    width:46px;
    height:46px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u3 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../List_of_Bus_Services_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:116px;
    top:12px;
    width:172px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:20px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:116px;
    top:32px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:269px;
    top:32px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:8px;
    top:305px;
    width:106px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:8px;
    top:358px;
    width:200px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:114px;
    top:325px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:267px;
    top:325px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../List_of_Bus_Services_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:114px;
    top:305px;
    width:172px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:20px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:8px;
    top:454px;
    width:106px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:8px;
    top:507px;
    width:200px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:114px;
    top:474px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:267px;
    top:474px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../List_of_Bus_Services_files/u12_normal.png');
}

.u18_container {
    position:absolute;
    left:114px;
    top:454px;
    width:172px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:20px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../List_of_Bus_Services_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:276px;
    height:3px;
}

.u20 {
    position:absolute;
    left:8px;
    top:135px;
    width:276px;
    height:10px;
    
}

.u21_line {
    background-image: url('../List_of_Bus_Services_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:276px;
    height:3px;
}

.u21 {
    position:absolute;
    left:10px;
    top:285px;
    width:276px;
    height:10px;
    
}

.u22_line {
    background-image: url('../List_of_Bus_Services_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:276px;
    height:3px;
}

.u22 {
    position:absolute;
    left:10px;
    top:434px;
    width:276px;
    height:10px;
    
}

.u23_normal {
    background-image: url('../List_of_Bus_Services_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:58px;
    top:17px;
    width:10px;
    height:10px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../List_of_Bus_Services_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:78px;
    top:310px;
    width:10px;
    height:10px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../List_of_Bus_Services_files/u23_normal.png');
}

.u27_container {
    position:absolute;
    left:78px;
    top:459px;
    width:10px;
    height:10px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../List_of_Bus_Services_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:196px;
    top:547px;
    width:7px;
    height:7px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:13px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:114px;
    top:182px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:267px;
    top:182px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../List_of_Bus_Services_files/u12_normal.png');
}

.u33_container {
    position:absolute;
    left:114px;
    top:162px;
    width:172px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:20px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../List_of_Bus_Services_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:234px;
    top:197px;
    width:45px;
    height:45px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:45px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../List_of_Bus_Services_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:155px;
    width:294px;
    height:126px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:300px;
    height:132px;
}

.u38 {
    position:absolute;
    left:2px;
    top:55px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:8px;
    top:162px;
    width:106px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:8px;
    top:215px;
    width:200px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../List_of_Bus_Services_files/u23_normal.png');
}

.u41_container {
    position:absolute;
    left:56px;
    top:167px;
    width:10px;
    height:10px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u42 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:226px;
    top:102px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:226px;
    top:249px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_normal {
    background-image: url('../List_of_Bus_Services_files/u2_normal.png');
}

.u45_container {
    position:absolute;
    left:233px;
    top:345px;
    width:46px;
    height:46px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:226px;
    top:397px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_normal {
    background-image: url('../List_of_Bus_Services_files/u2_normal.png');
}

.u48_container {
    position:absolute;
    left:233px;
    top:494px;
    width:46px;
    height:46px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u49 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:226px;
    top:546px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51_normal {
    background-image: url('../List_of_Bus_Services_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:605px;
    width:294px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:300px;
    height:31px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:24px;
    top:611px;
    width:262px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../List_of_Bus_Services_files/u29_normal.png');
}

.u54_container {
    position:absolute;
    left:8px;
    top:613px;
    width:7px;
    height:7px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:13px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

